body {
    background-image: url('img/background.jpg');
  }
  .actions {
    text-align: center;
  }
  .ai {
    background-image: url('img/ai.png');
  }
  .container {
    margin: 50px auto;
    width: 800px;
  }
  .cell {
    background-color: white;
    border: 2px solid black;
    float: left;
    height: 200px;
    width: 200px;
  }
  .cell:hover {
   background-color: crimson;
  }
  .player {
    background-image: url('img/player.png') ;
}
.container .restartButton {
background-color: black;
color: aqua;
font-weight: bold;
border: 1px solid yellow;
cursor: pointer;
width: 160px;
height: 50px;
font-size: 22px;
}
