body, html {
    height: 100%;
    margin: 0 0;
}

.table {
    width: 700px;
    margin: 0 auto;
    padding: 11% 11%;

}

.bg-music {
    visibility: hidden;
}

.bg {
    background-image: url("../images/bg-image.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#music-btn {
    position: absolute;
    top: 20px;
    left: 20px;
}


.cell {
    background: rgba(244, 244, 209, 0.3);
    border: 2px solid black;
    float: left;
    height: 180px;
    width: 180px;

}

.cell:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.ai {
    background-image: url('../images/ai.png');
}

.player {
    background-image: url('../images/player.png');
}

#restart-btn {
    position: absolute;
    top: 80px;
    left: 11px;
}
